<!DOCTYPE html>
<html>
<head>
    <title>Adicionar Registro</title>
</head>
<body>
    <h1>Adicionar Registro</h1>
    <form action="/add" method="POST">
        <label>Nome:</label><input type="text" name="name" required><br>
        <label>Idade:</label><input type="number" name="age" required><br>
        <label>Género:</label><input type="text" name="gender" required><br>
        <label>Nacionalidade:</label><input type="text" name="nationality" required><br>
        <label>Crimes Anteriores:</label><input type="number" name="previous_crimes" required><br>
        <label>Fatores Sociológicos:</label><input type="text" name="sociological_factors"><br>
        <label>Fatores Psicológicos:</label><input type="text" name="psychological_factors"><br>
        <label>Fatores Culturais:</label><input type="text" name="cultural_factors"><br>
        <label>Fatores Individuais:</label><input type="text" name="individual_factors"><br>
        <label>Fatores Criminais:</label><input type="text" name="criminal_factors"><br>
        <button type="submit">Salvar</button>
    </form>
</body>
</html>
